.categories{
  overflow-x: scroll;
  overflow-y: hidden;
  .list-categories{
    height: 100%;
    white-space: nowrap;
    .category{
      display: inline-grid;
      //border: 1px solid #ddd;
      //border-radius: 4px;
      padding: 0px;
      width: 22vw;
      height: 50px;
      //margin:0 2px 0 0;
      line-height: 60px;
    }
    .selected-category{
      border: 2px solid;
    }
  }
}
::-webkit-scrollbar {
  display: none;
}