<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>POS</ion-title>
        <ion-title slot="end">TK {{ total }}</ion-title>
        <ion-title slot="end">
            <ion-button>
                <ion-icon name="cart">
                </ion-icon>
                <ion-badge color="danger"> {{ quantity }}</ion-badge>
            </ion-button>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-category-list></app-category-list>
    <app-product-list></app-product-list>
</ion-content>
