
<ion-header>
    <ion-toolbar>
        <ion-title>Discount</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12">
                <ion-item>
                    <ion-label position="floating">Discount</ion-label>
                    <ion-input type="number" max='100' min="0" [(ngModel)]="discount"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col size="12">
                <ion-button class="discount-btn" color="primary" (click)="setDiscount()">Discount</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
