.product-group{
  padding: 0px;
}
.product-col-name{
  margin-bottom: -3.5vh;
}

.product-name{
  padding: 0px;
  font-size: 15px;
  font-weight: bold;
}

.total-amount {
  text-align: right;
  font-weight: bolder;
}