<ion-header>
  <ion-toolbar>
    <ion-title>CustomerSelectionModal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list no-margin no-padding>


      <ion-radio-group [(ngModel)]="selectedOption">
        <ion-item>
          <ion-label>
            Customers
          </ion-label>
        </ion-item>
        <ion-item *ngFor="let client of clients; let i = index;">
          <ion-label>
            <span style="float: left">{{ client.name }}</span> <span
                  style="float: right;">Discount: {{ client.discount }}%</span>
          </ion-label>
          <ion-radio slot="start" [value]="client.id"></ion-radio>
        </ion-item>
      </ion-radio-group>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content
            loadingSpinner="bubbles"
            loadingText="Loading more data...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button (click)="dismiss()" slot="start" color="danger">Back</ion-button>
    <ion-button slot="end" color="primary" (click)="confirmClient()">Confirm</ion-button>
  </ion-toolbar>
</ion-footer>
